name: Deploy to VDS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Deploy over ssh
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VDS_HOST }}
        username: ${{ secrets.VDS_USER }}
        key: ${{ secrets.VDS_SSH_KEY }}
        port: 22
        debug: true
        script: |
          cd level-up.deploy-utils.shared/
          git pull origin main
          docker-compose -f docker-compose.prod.yaml pull
          docker-compose -f docker-compose.prod.yaml up -d
          docker-compose -f docker-compose.dev.yaml pull
          docker-compose -f docker-compose.dev.yaml up -d
